__pycache__/
c2pa-env
*.env
!.env.local
chain.pem
config.json
kms-signing.crt
kms-signing.csr
rootCA.crt
rootCA.key
target/
out-images/
.DS_Store
volume/
local_volume/
client_volume/
tests/test-certs/*
!tests/test-certs/.gitkeep